
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}


body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div {
  position: relative;
  width: 12.5%;
  height: 350px;
}

p  {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  content: "";
  font-size: 30px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}